[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aea = "==1.2.5"
aea-ledger-ethereum = "==1.1.1"
aea-ledger-fetchai = "==1.2.4"
boto3 = "*"
pipfile = "*"
defusedxml = "*"
ocean-lib = "==2.2.4"

[dev-packages]
black = "*"
mock = "*"
pytest = "==5.4.3"
pytest-env = "==0.6.2"
pytest-asyncio = "==0.12.0"
pytest-cov = "==2.9.0"
pytest-custom-exit-code = "==0.3.0"
pytest-randomly = "==3.4.0"
pytest-rerunfailures = "==9.0"
requests = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
